* {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

nav {
    font-size: 18px;
    color: #FDFDFD;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 0.1rem 10rem;
}

.company-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header-text {
    font-size: 24px;
    font-weight: bold;
}

.logo {
    width: 50px;
    height: 50px;
}

#header-links {
    display: flex;
    gap: 2rem;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #E0E3E7;
}

#overview {
    background-color: #1F2937;
    display: flex;
    padding: 5rem 10rem;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

#overview h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAFB;
}

#overview button {
    background-color: #3D83F6;
    color: white;
    border: none;
    border-radius: 0.2rem;
    width: 7rem;
    height: 2rem;
}


#overview p {
    color: #E0E3E7;
    font-size: 18px;
    text-align: justify;
}

.overview-left {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.cover-art {
    height: 275px;
    width: auto;
}

#facts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 2rem 10rem;
}

#facts h2 {
    font-size: 36px;
    font-weight: 900;
}

.information {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.fact {
    width: 14rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.fact-image {
    width: 14rem;
    height: 14rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #3D83F6;
    border-radius: 0.3rem;
}

.fact-image img {
    width: auto;
    height: 100%;
}

.fact p {
    font-size: 14px;
    color: gray;
    text-align: center;
}

#quote-section {
    background-color: #E5E7EB;
    color: #222C3A;
    padding: 5rem 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container {
    width: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-container h4 {
    font-size: 36px;
    font-style: italic;
}

.quote-container p {
    align-self: flex-end;
}

#subscription {
    display: flex;
    padding: 5rem 10rem;
    justify-content: center;
    
}

.sub-header {
    background-color: #3D83F6;
    border-radius: 0.5rem;
    width: 80%;
    padding: 2rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sub-header h4 {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.sub-header p {
    color: white;
    font-size: 18px;
}

#subscription button {
    background-color: #3D83F6;
    color: white;
    border: 2px solid white;
    border-radius: 0.2rem;
    width: 7rem;
    height: 2rem;
}

footer {
    padding: 1rem 5rem;
    background-color: #1F2937;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
